@model EmployeeSPApp.Models.Employee

@{
	ViewData["Title"] = "Edit Employee";
}

<h2>Edit Employee</h2>

<form asp-action="Edit" method="post" class="mt-3">
	<input asp-for="EmpId" type="hidden" />

	<div class="mb-3">
		<lable asp-for="Name" class="form-lable"></lable>
		<input asp-for="Name" class="form-control" />
	</div>

	<div class="mb-3">
		<lable asp-for="Department" class="form-lable"></lable>
		<input asp-for="Department" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="Salary" class="form-label"></label>
		<input asp-for="Salary" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary">Update</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>